html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: lightblue;
}	

div {
	border: 1px solid blue;
}


/*Navigation*/

.navigation {
	background-color: #fff;
}
.navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}



/*Intro*/

.intro {
	background-image: url('../images/first-background.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}

.intro > .content h1 {
	color: white;
	margin: center;
	text-align: center;
}

.intro > .content h3 {
	color: white;
	margin: center;
	text-align: center;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 15rem;
    background-color: darkorange;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    color: white;
}

.big-button :hover {
    cursor: pointer;
    background-color: green;
}